-var titulo = "Titulo principal" 
-var titulos = ["Titulo principal", "subtitulo-1", "subtitulo 2","subtitulo3"]
-var enlaces = ["Acerca", "Noticias", "Contacto"]
mixin caja(imagen,titulo,content)
    .caja
        .caja__imagen: img(src="./images/" +imagen)
        .caja__contenido 
            h3=titulo 
            p= content