extend componentes/plantilla.pug
block contenidos 
        
            
      
            .intro__contenido 
                h2= titulos[0]
               
                p 
                    | Lorem ipsum, dolor sit amet consectetur 
                    | adipisicing   
                    | elit. Pariatur quos, aperiam maxime enim ipsa  
                    | in,     v   eritatis est praesentium placeat asp
                    | eriores, obcaecati id omnis voluptatum corrup
                    | ti eveniet incidunt quod tempore nobis? 
                    |   <br>
                    |   <br>
                    | Explicab
                    | o, ut! Nostrum similique porro numquam distinctio 
                    | voluptate excepturi et, nihil quo dicta ea? Odit iure 
                    | animi labore culpa facere, quae voluptate voluptatum praesent
                    | ium harum ex! Maiores ullam illum earum!
                    
                
                   
                a.boton Leer Mas
        
