extend componentes/plantilla.pug
block contenidos 
        section.intro 
            .intro__imagen: img(src="./images/imagen.png")
            .intro__contenido 
                h2= titulos[0]
                h2 #{titulos[1]}
                p
                    | la capita de bangladesh? 
                    | asdasdasdasdasd 
                    | dddddddddddddddd 
                    | xxxxxxxxxxxxxxxxxxxx 
                    | sisas mi hermano 
                    | medelling itagui 
                    span meros chichones
                   
                a.boton Leer Mas
              
        ul 
            each titule in titulos 
                li=titule
        
        main.contenido
           +caja('imagen.png',titulos[0],"loremsito dolor sit amet")
           +caja('imagen.png',titulos[1],"loremsito dolor sit amet")
           +caja('imagen.png',titulos[2],"loremsito dolor sit amet")